@charset "UTF-8";

/*Todas as demais midias
---------------------------
pequenas telas: até 600px
Celula: de 600px até 768px
tablet: 768px até 992px
desktop: 992 até 1200px
Grandes telas: acima de 1200
*/

@media print { /*IMPRESSAO */
  * {
    font-family: 'Courier New', Courier, monospace;
  }

  body {
    background-image: url(../imagens/back-print.jpg) ; /* DESNECESSARIO */
  }
main {
  border: 2px solid black;
}

  main h1 {
    text-shadow:none ;
    color: black
  }

#phone {
  display: none;
}

  #print {
    display: block;
  }

  }

@media screen and (min-width:768px) and (max-width:992px) { /* TABLET */
  body {
    background-image: url(../imagens/back-tablet.jpg);
  }
#phone {
  display: none;
}

#tablet {
  display: block;
}
}

/*=====================================================================================*/

@media screen and (min-width:992px) and (max-width:1367px) { /* DESKTOP */
  body {
    background-image: url(../imagens/back-pc.jpg);
  }

  #phone {
    display: none;
  }

  #pc {
    display: block;
  }
}

/*=============================================================================================*/

@media screen and (min-width:1367px) { /* TELAS GRANDES */
  body {
    background-image: url(../imagens/back-tv.jpg);
  }

  main {
    width: 700px;
  }

  #phone {
display: none;
  }

  #pc {
    display: none;
  }

#tv {
  display: block;
}
}

