@font-face {
  font-family: 'naruto';
  src: url('fontes/njnaruto.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  /*
  Tipos de format()
  -opentype (otf
  -truetype (ttf)
  -embedded-opentype
  -trupetype-aat
  -svg

  */
}

body  {
  font-family: Arial, Helvetica, sans-serif ;
}

h1 {
  font-family: 'naruto', Times, serif;
  font-size: 3em;
  font-weight: normal;
}